* {
    margin: 0;
    padding: 0;
}

#canvas1 {
    background-color: teal;
    position: absolute;
}

img{
    display: none;
}

.controls {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 5px;
}