<app-page>
    <ng-card>
        <h1>
            rxjs
        </h1>
        <h2>
            subject$ data: {{ subject$ | async }}
        </h2>
        <button (click)="changeData()">changeData</button>

    </ng-card>
    <ng-card style="margin-top: 12px;">
        <!-- <app-observer></app-observer> -->
    </ng-card>
    <ng-card style="margin-top: 12px;">
        <app-catch-error></app-catch-error>
    </ng-card>
    <ng-card style="margin-top: 12px;">
        <app-flat-operator></app-flat-operator>
    </ng-card>
</app-page>