.box {
    width: 200px;
    height: 120px;
    background-color: #fff;
    border: 1px solid;
    cursor: move;
}

.resultItem() {
    margin: 12px 0;
    padding: 12px;
    border: var(--border);
    cursor: pointer;
    background-color: #fff;
    user-select: none;

    .title {
        margin-bottom: 8px;
    }
    &:hover {
        background-color: var(--bg-color);
    }
    &.active {
        background-color: var(--primary-fade-50);
    }

    .title {
        font-weight: bold;
    }
}

.ng-icon {
    color: var(--primary-color);
}

.form {
    display: grid;
    gap: 24px;
    grid-template-columns: 256px 1fr 400px;
    grid-template-areas: "components result property";
    height: calc(100vh - 130px);

    .components {
        height: inherit;
        overflow: hidden;
    }

    .result {
        display: flex;
        flex-direction: column;
        height: inherit;
        .ng-card {
            margin-top: 12px;
            overflow-y: auto;
            min-height: 500px;
        }

        .result-item {
            .resultItem();
        }
        .cdk-drag-placeholder {
            width: 100%;
            min-height: 100px;
            border: 2px dashed var(--primary-color);
            &.cate-placeholder {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .property {
        &-form {
            margin-top: 12px;
        }
    }

    .cates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin-top: 12px;
        .cate-item {
            display: block;
            padding: 6px 12px;
            border-radius: 4px;
            border: 1px solid #e8e8e8;
            background-color: #fff;
            cursor: pointer;
        }
    }
}

::ng-deep .cdk-drag-preview.cate-item a {
    display: block;
    width: 108px;
    padding: 8px 12px;
    border-radius: 4px;
    border: var(--border);
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}
::ng-deep .cdk-drag-preview.result-item {
    .resultItem();
}
