.box {
    width: 200px;
    height: 120px;
    background-color: #fff;
    border: 1px solid;
    cursor: move;
}

.form {
    display: flex;

    .components,
    .property {
        flex-shrink: 0;
        flex-basis: 256px;
        height: calc(100vh - 130px);
    }
    .ng-card {
        height: inherit;
        overflow-y: auto;
    }
    .result {
        flex: 1;
        margin: 0 24px;
        height: calc(100vh - 168px);
        .ng-card {
            margin-top: 12px;
            min-height: 500px;
        }
    }
}
