<app-page title="表单设置">
    <div class="form">
        <ng-card class="components">
            <ng-card-title>
                基础字段
            </ng-card-title>
            <div>
                <ul class="cates" cdkDropList cdkDropListSortingDisabled #cateList="cdkDropList"
                    [cdkDropListData]="categories" (cdkDropListDropped)="drop($event)"
                    [cdkDropListConnectedTo]="[contentList]" (cdkDropListEntered)="entered()"
                    (cdkDropListExited)="exited($event)">
                    <li class="cate-item" *ngFor="let item of categories" cdkDrag [cdkDragData]="item">
                        <div class="cate-placeholder cate-item" *cdkDragPlaceholder>
                            <a>
                                <ng-icon [type]="item.icon"></ng-icon> {{item.title}}
                            </a>
                        </div>
                        <a>
                            <ng-icon [type]="item.icon"></ng-icon> {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </ng-card>
        <div class="result">
            <div style="display: flex;justify-content:space-between">
                <h3 class="sub-title">
                    表单内容
                </h3>
                <div>
                    <button mat-raised-button color="primary" (click)="handleSave()">保存设置</button>
                </div>
            </div>
            <ng-card class="ng-card" #resultWrapper cdkDropList #contentList="cdkDropList" [cdkDropListData]="content"
                (cdkDropListDropped)="drop($event)">
                <div class="content">
                    <div>
                        <div class="result-item" [ngClass]="{active: active?.key === item.key}"
                            (click)="handleChangeActive(item.key)" *ngFor="let item of content;let idx = index" cdkDrag>
                            <div class="widget">
                                <p class="title" *ngIf="item.showLabel">{{item.label}}</p>
                                <div [ngSwitch]="item.controlType" class="form-control">
                                    <div *ngSwitchCase="1">
                                        <input class="form-control-item" matInput readonly
                                            [placeholder]="item.attr.placeholder" />
                                    </div>
                                    <div *ngSwitchCase="2">
                                        <textarea matInput rows="5" readonly class="form-control-item"
                                            [placeholder]="item.attr.placeholder"></textarea>
                                    </div>
                                    <div *ngSwitchCase="3">
                                        <input matInput readonly class="form-control-item" type="number"
                                            [placeholder]="item.attr.placeholder" />
                                    </div>
                                    <div *ngSwitchCase="4">
                                        <input matInput readonly class="form-control-item" type="number"
                                            [placeholder]="item.attr.placeholder" />
                                    </div>
                                    <div *ngSwitchCase="5">
                                        <mat-radio-group disabled class="form-control-item">
                                            <mat-radio-button color="primary" *ngFor="let opt of item.options"
                                                [value]="opt.value">
                                                {{opt.title}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div *ngSwitchCase="6">
                                        <div class="form-control-item">
                                            <mat-checkbox color="primary" disabled *ngFor="let opt of item.options"
                                                [value]="opt.value.toString()">
                                                {{opt.title}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="7">
                                        <mat-select class="form-control-item" disabled>
                                            <mat-option *ngFor="let opt of item.options" [value]="opt.value">
                                                {{opt.title}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div *ngSwitchCase="8">
                                        <div class="line"></div>
                                    </div>
                                    <div *ngSwitchDefault>
                                        default
                                    </div>
                                </div>
                                <p class="help" *ngIf="item.attr.help">{{ item.attr.help }}</p>
                            </div>
                            <div class="action-bar">
                                <a title="复制" (click)="handleCopy($event,item,idx)">
                                    <ng-icon type="icon-file-copy"></ng-icon>
                                </a>
                                <a title="删除" (click)="handleDelete($event,item,idx)">
                                    <ng-icon type="icon-delete"></ng-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-card>
        </div>
        <ng-card class="property">
            <ng-card-title>
                属性
            </ng-card-title>
            <div *ngIf="active">
                <form class="property-form" [formGroup]="propForm">
                    <div class="form-item">
                        <p class="form-item-label">
                            <span>
                                标题
                            </span>
                            <mat-checkbox color="primary" formControlName="showLabel">
                                显示标题
                            </mat-checkbox>
                        </p>
                        <div>
                            <input matInput formControlName="label" placeholder="请输入标题" />
                        </div>
                    </div>

                    <div class="form-item" *ngFor="let setting of active.settings">
                        <p class="form-item-label">{{ setting.title }}</p>
                        <div>
                            <input matInput [placeholder]="'请输入' + setting.title" [formControlName]="setting.name" />
                        </div>
                    </div>

                </form>
            </div>

        </ng-card>
    </div>
</app-page>