<app-page title="项目列表">
    <mat-grid-list cols="3" gutterSize="24px" rowHeight="85px">
        <mat-grid-tile *ngFor="let item of data; " [style.--color]="item.color">
            <ng-card class="project-item">
                <div class="item-content">
                    <p>
                        <ng-icon [type]="item.icon" class="icon"></ng-icon>
                        <span>{{ item.title }}</span>
                    </p>
                    <p style="margin-top: 4px;color:rgba(0,0,0,.35)">
                        {{ item.date | date }}
                    </p>
                </div>
            </ng-card>
        </mat-grid-tile>
    </mat-grid-list>
</app-page>