<div class="micom">
    <div class="menu">
        <header>
            <a href="" class="logo">
                <!-- <img src="https://s02.mifile.cn/assets/static/image/logo-mi2.png" alt=""> -->
            </a>
            <ul class="nav">
                <li *ngFor="let item of navs">
                    <a href="">{{ item }}</a>
                </li>
            </ul>
            <div class="search">
                <input type="text" placeholder="黑鲨4">
                <app-icon type="icon-search"></app-icon>
            </div>
        </header>
    </div>
    <div class="main">
        <div class="container">
            222
        </div>
    </div>
</div>