<form [formGroup]="todoForm" (ngSubmit)="handleSubmit()">

    <div>
        <label for="title">
            title
        </label>
        <span>
            <input id="title" formControlName="title" type="text">
        </span>
    </div>
    <div>
        <label for="done">
            done
        </label>
        <span>
            <input id="done" formControlName="done" type="checkbox">
            is done
        </span>
    </div>
    <div>
        <button type="submit">
            Save
        </button>
    </div>

</form>