<header class="header">
    <div class="content">
        <div class="left">
            <div class="search" matRipple>
                <app-icon class="icon" type="icon-search"></app-icon>
                <input type="text" placeholder="请输入关键字搜索">
            </div>
        </div>
        <div class="right">
            <a class="btn" matRipple>
                <app-icon type="icon-bell-fill"></app-icon>
            </a>
            <a class="btn" matRipple>
                <img class="avatar"
                    src="https://img.weixiaoqu.com/images/uploads/48/201806/6c73d3c8270840744ded924a74ecbb14.jpg">
                <span>maomao</span>
                <app-icon class="arrow" type="icon-right"></app-icon>
            </a>
        </div>
    </div>
</header>