<app-page>

    <mat-card class="card">
        <mat-card-title>动态参数</mat-card-title>
        <p>
            <button mat-raised-button [routerLink]="['/test',1]">id:1</button>
            <button mat-raised-button [routerLink]="['/test',2]">id:2</button>
            <button mat-raised-button [routerLink]="['/test',3]">id:3</button>
        </p>
        <ng-container *ngIf="(user$ | async) as user">
            <p>
                姓名：{{ user.name }}，年龄{{user.age}}，身份：{{ user.sf | identity }}
            </p>
        </ng-container>
        <p>
            currentPath:{{ currentUrl$ | async }}
        </p>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>依赖注入：</mat-card-title>
        <p>
            useValue inject version：{{ version }}
        </p>
        <p>
            counter$:{{ conter$ | async }}
        </p>
        <p>
            counter:{{ counter }}
        </p>
        <p>
            <button (click)="changeCounter()">change counter</button>
        </p>
    </mat-card>
    <mat-card class="card">
        <p>test decorator works!</p>

        <h3>装饰属性：{{ name }}</h3>

        <button (click)="changeName()">changeName</button>
        <button (click)="showConfirmable()">confirmable</button>

        <ul appGrid>
            <li appGridItem='120px' [fitMode]="'cover'" [ta]="'center'">1</li>
            <li appGridItem="100px">2</li>
            <li appGridItem="45px">3</li>
            <li appGridItem>4</li>
            <li appGridItem>5</li>
        </ul>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>倒计时：</mat-card-title>
        <app-count-down [end]="endDate"></app-count-down>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>pipe:</mat-card-title>
        <div class="row">
            money :{{ money | currency:'CNY':'symbol':'8.1-2' }}
        </div>

        <div class="row">
            json :{{ obj | json }}
        </div>

        <div class="row">
            slice :{{ money | slice:1:5 }}
        </div>

        <div class="row">
            decimal :{{ money | number:'1.2-2' }}
        </div>

        <div class="row">
            date : {{ endDate | date:'YYYY-MM-dd HH:mm:ss' }}
        </div>

        <div class="row">
            <p>keyvalue:</p>

            <p>
                <span *ngFor="let item of object | keyvalue">
                    {{item.key}}:{{item.value}}
                </span>
            </p>

            <p>
                <span *ngFor="let item of map | keyvalue">
                    {{item.key}}:{{item.value}}
                </span>
            </p>
        </div>

        <div class="row">
            percent：{{ percent|percent:'1.2-2' }}
        </div>
    </mat-card>
    <mat-card class="card">
        <p>自定义ngmodel</p>
        <app-on-model [(onModel)]='username'></app-on-model>
        <p>
            在app-on-model外面:{{username}}
        </p>
    </mat-card>
</app-page>